*{
    padding: 0;
    margin: 0;
    font-family: Mulish;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    margin: 50px auto;
}

.menu-icon{
    display: none;
}

.logo-name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 700;
    width: 380px;
}

.logo-name>h3>span {
    color: #FF5400;
}
.logo-name h3{
    text-transform: capitalize;
}
.logo-name img{
    margin-right: 15px;
}
.navbar{
    height: 23px;
    width: 506px;
    align-items: center;
}
.navbar ul{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    list-style: none;
    margin: auto 0;
    font-size: 18px;
    font-weight: 400;
    gap: 40px;
}
.navbar ul li a{
    text-decoration: none;
    color: #424247;
    margin-right: 13.5px;
}
.navbar>ul>li>a>span{
    color: #FF5400;
}

/* Hero Section */

.hero-section{
    background-image: url(Group\ 13\ \(1\)\ \(1\).png);
    width: 1170px;
    height: 500px;
    background-size: cover;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section h3{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.hero-section p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 690px;
   
}

.hero-btns{
    width: 750px;
    height: 52px;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input[type="text"], .when, .selcet-type, .find-btn{
    width: 174px;
    height: 52px;
    padding-left: 8px;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 8px;
    border: none;
    outline-color: snow;
}

.find-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #FF5400;
}

.find-btn button{
    border: none;
    background-color: #FF5400;
    color: white;
    font-size: 18px;
}

.find-btn i{
    color: white;
}

.when option, .selcet-type option{
    padding-right: 10px;
}


/* popular tours */

.about-tours{
    width: 1170px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}

.tour-img{
    height: 550px;
}

.tour-img img{
    height: 100%;
}
.descrip-box h3{
    display: inline;
    color: #131318;
    font-size: 30px;
    font-weight: 800;
    float: left;
}

.descrip-box p{
    width: 500px;
    line-height: 27px;
    color: rgba(19, 19, 24, 0.80);
    text-transform: capitalize;
}

.descrip-box ul {
    margin-left: 50px;
    line-height: 27px;
    color: rgba(19, 19, 24, 0.80);
    text-transform: capitalize;
}
.descrip-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descrip-box button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
    background-color: #FF5400;
}


/*choose your destination part */

.choose-box{
    width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
}

.maldive-img, .indonesia-img, .srilonka-img,
.america-img, .kasmir-img, .bangladesh-img,
.bandarban-img {
    height: 300px;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: white;
    font-size: 28px;
    font-weight: 800;
}

.img-box1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-bottom: 10px;
}

.img-box2{
    display: grid;
    grid-template-columns: 0.9fr 1fr 0.6fr;
    column-gap: 10px;
    margin-bottom: 10px;
}

.img-box3{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 10px;
    margin-bottom: 10px;
}
.maldive-img{
    background-image: url(Rectangle\ 5.png);
}

.indonesia-img{
    background-image: url(Rectangle\ 8.png);
}

.srilonka-img{
    background-image: url(Rectangle\ 6.png);
}

.america-img{
    background-image: url(Rectangle\ 7.png);
}

.kasmir-img{
    background-image: url(Rectangle\ 9.png);
}

.bangladesh-img{
    background-image: url(Rectangle\ 11.png);
}

.bandarban-img{
    background-image: url(Rectangle\ 10.png);
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section h3{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}

.section p{
    text-align: center;
    width: 600px;
    line-height: 20px;
    margin-bottom: 20px;
}



/*Why Choose us */

.why-choose{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.why-choose p{
    width: 500;
}

/* hotel cards */

.hotel-card{
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-bottom: 10px;
    margin-top: 50px;

}

.card1, .card2{
    background-color: rgba(251, 181, 99, 0.05);
    height: 284px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
}

.card2{
    background: rgba(41, 206, 246, 0.05);
}

.card1 p, .card2 p{
    width: 500px;
}

.hotel-icon i{
    font-size: 38px;
    color: #FF5400;
}


/* to make responsive header and hero section */

@media screen and (max-width: 600px) {
    .menu-icon{
        display: inline-block;
    }
    .header{
        width: 400px;
        height: 64px;
        justify-content: space-between;
        font-size: 22px;
        margin: 0 auto;
    }
    .logo img{
        width: 60%;
    }

    .logo{
        /* margin-left: -55px; */
    }

    .menu-icon {
        margin-right: 21px;
    }

    .logo-name h3{
        font-size: 22px;
        margin-left: -50px;
    }

    .navbar{
        display: none;
    }

    .hero-section{
        width: 400px;
        height: 550px;
        justify-content: space-evenly;
        gap: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        /* text-align: center;
        margin-left: 30px; */
    }

    .hero-section img{
        width: 100%;
    }

    .hero-section h3{
        color: #FFF;
        font-size: 28px;
        font-weight: 900;
        margin-top: 20px;
    }

    .hero-section p{
        font-size: 18px;
        width: 300px;
        height: 100px;
        margin-top: -20px;
        overflow: auto;
        text-overflow: clip;
    }

    .hero-btns{
        margin-top: -15px;
        width: 287px;
        height: 250px;
        flex-direction: column;
        /* justify-content: space-evenly; */
        grid-area: 80px;
    }

    input[type="text"], .when, .selcet-type, .find-btn{
        width: 270px;
        height: 52px;
        padding-left: 8px;
        font-size: 18px;
        text-transform: capitalize;
        border-radius: 8px;
        border: none;
        outline-color: snow;
    }


    /* Our popular tours style*/

    .about-tours{
        flex-direction: column;
        width: 375px;
        text-align: center;
    }

    .descrip-box h3{
        margin-left: -100px;
        padding: 0;
    }

    .descrip-box ul {
        font-size: 20px;
    }

    .descrip-box p{
        margin-left: 5px;
        font-size: 20px;
        width: 380;
        line-height: 40px;
    }

    .descrip-box{
        height: 1000px;
        width: 400px;
    }

    .descrip-box button {
        margin-bottom: 20px;
    }

    .tour-img{
        width: 400px;
        text-align: center;
    }

    .tour-img img{
        width: 100%;
    }
}